.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 30px;

}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
  width: 100%;
}
.header-li {
  font-size: 20px;
  margin-right: 25px;
}
.logo {
  width: 60px;
  height: 50px;
}
.shop-logo {
  margin-right: 25px
}
.footer {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  background-color: #707070;
  padding: 20px;
} 
.footer-about-div h3 {
  font-size: 20px;
  margin-bottom: 7px;
  color: #393939;
}
.footer-about-div p {
  font-size: 15px;
  color: #393939;
}
.footer-contact-div div {
  display: flex;
  align-items: center;
}
.footer-contact-div p {
  font-size: 12px;
  margin: 5px;
}
.mySwiper {
  margin: 0 auto;
  padding: 30px 90px;
}
.swiper-img {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.partner-title {
  margin: 20px 50px;
  font-size: 20px;
  color: #707070;
  font-weight: bolder;
}
.partners-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.partner-card {
  display: flex;
  border-radius: 15px;
  background-color: #dcdcdc;
  width: 400px;
  padding: 10px;
}
.partner-card-text {
  margin-left: 30px;
  margin-top: 20px;
  width: 70px;
}
.partner-card-text h3 {
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}
.partner-p-div {
  width: 110px;
  margin-top: 70px;
  border-style: dotted;
  border-width: medium;
  padding-left: 15px;
  font-size: 12px;
  color: #707070;
}
.partner-card-img {
  display: flex;
  flex-direction: column;
  padding-left: 110px;
}
.partner-card-img img {
  margin-top: 20px;
  width: 45px;
}